.admin_cont{
    color: black;
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.admin_stats{
    background-color: rgb(12, 12, 12);
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.466);
    width: 100px;
    height: 100px;
    color: white;

    padding: 10px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.temp{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #4CAF50;
    padding: 20px;
    margin: 0px 0px 10px 0px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px 6px rgba(0, 0, 0, 0.329);
    flex-wrap: wrap;
    justify-content: center;
}

.dash_title{
    color: white;
    margin: 20px 0px;
    margin: 0px 0px 25px 0px;
}

.header{
    color: #4CAF50;
}

.user_list{
    color: white;
    height: auto;
    width: auto;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user_child{
    width: 100%;
    height: auto;
}

.temp2{
    display: flex;
    flex-direction: column;
    background-color: #4CAF50;
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px 6px rgba(0, 0, 0, 0.329);
    gap: 10px;
    padding: 10px;
    height: 280px;
    overflow-y: scroll;
}

.temp3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    background-color: rgb(15, 15, 15);
}

.ss{
    width: auto;
}