.hero{
    height: auto;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExc2c5cmlnNWdkNjI4bDM4Mjd0ajY5N2pzdWRvazlydHR4czNuY3VidyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/XdzWa7tpMKGVW5jnxb/giphy.gif');

    padding: 55px 0px;
}

.herotext{
    margin: 0px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 10vw;

    text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.295);
}