.search_container{
    width: auto;
    height: auto;

    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgb(44, 44, 44);

    color: white;
}

.searchbar{
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.308);
    
    padding: 0px 5px;
}

.searchbar:focus{
    border: 1px solid grey;
    outline: none;
}

.search_display{
    width: 100%;
    margin: 10px 0px;
    flex-wrap: wrap;
    word-wrap: break-word;
}