.top_container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    height: auto;
    border-radius: 10px;
    margin: 0px 0px;
    gap: 10px;

    padding: 1rem 0rem;
}

.top_left{
    min-width: 20vw;
    max-width: auto;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.top_right{
    display: flex;
    flex-direction: row;
    min-width: auto;
    justify-content: space-evenly;
    gap: 5vw;
    margin: 0px 0px;
    align-items: center;
    background-color: #c0dcdd;
    border-radius: 10px;

    box-shadow: -15px 15px 0px rgb(126, 180, 184);

    padding: 20px 50px;
}

.top_head{
    margin: 0px 10px;
    font-size: 4vw;
    font-weight: 600;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}

.top_desc{
    margin: 0px 10px;
    font-size: 3vh;
}

.seemore{
    width: auto;
    margin: 10px 10px;
    background-color: #65d1b1;
    padding: 8px;
    border-radius: 5px;
    border-style: none;
}

.button_cont{
    display: flex;
    justify-content: left;
}

.frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.top_img{
    width: auto;
    height: 8vw;

    border-radius: 10px 10px;
    border: 4px solid white;

    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.13);
}

.top_name{
    margin: 0px;
    font-weight: 600;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.11);
}
.top_price{
    margin: 0px;
}

.top_frame_cont{
    display: flex;
    flex-direction: row;

    gap: 10px;
}

.top_info{
    margin: 6px 0px;
    width: 100%;
}
@media (max-width: 400px) {
    .top_container{
        flex-direction: column;
        gap: 0px;
    }
    .top_left{
        width: auto;
        height: auto;
    }
    .top_frame_cont{
        display: flex;
        flex-direction: row-reverse;
    }
    .top_img{
        height: 80px;
    }
    .frame{
        flex-direction: column;
    }
    .top_right{
        padding: 10px 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
    }
    .top_head{
        font-size: 6vw;
    }

    .top_desc{
        font-size: 4vw;
    }
}