.data_container{
    color: white;
    display: flex;
    flex-direction: row;
}

.profile_data{
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding: 10px 0px;
}

.profile_img{
    width: 100px;
    height: 100px;

    background-color: blue;
}

.user_cont{
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

.user_details{
    color: black;

    padding: 10px 10px;
}

p{
    font-size: 3vw;
    margin: 0px;
    color: white;
}

h1{
    margin: 0px;
    color: white;
    font-size: 4vw;
}

.tempdiv{
    width: 100%;
    background-color: green;
    height: auto;
}