.user_info{
    margin: 0px;
    color: black;
}

.info_cont{
    background-color: white;
    display: flex;
    flex-direction: row;
    box-shadow: -10px 20px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: 200ms;
    padding: 10px 20px;
    border: 1px solid rgba(128, 128, 128, 0.26);
    margin: 15px 0px;
}

.info_left{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user_img{
    width: 100px;
    height: 100px;
}

.user_rating{
    color: black;
    display: flex;

    margin: 0px 0px;
}

@media (max-width: 400px) {

}
