.id_container{
    margin: 0rem 2rem;
    position: relative;
}

.design{
    position: absolute;
    height: 10rem;
    width: 10rem;
    border-radius: 40px;
}

#blob1{
    background-color: rgba(80, 229, 255, 0.2);
    transform: translate(40px, 20px);
}

#blob2{
    background-color: rgba(255, 80, 240, 0.2);
    transform: translate(140px, 100px);
}

.content{
    position: absolute;
    z-index: 2;
}

.interact_container{
    display: flex;
    position: relative;
    padding: 1.2rem 0rem;
    align-items: center;
    gap: 10px;
}

#like_button{
    background-color: rgb(255, 52, 52);
    color: white;
    font-weight: 600;
    padding: .4rem 1rem;
    border-radius: 10px;
    transition: 100ms;
}

#like_button:hover{
    transition: 100ms;
    background-color: rgb(180, 0, 0);
}