.data_container{
    width: 100%;
    height: calc(100vh - 50px);

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    background-image: url(https://cdn.discordapp.com/attachments/1140746966293291028/1163125505223036958/tropical-green-leaves-background.jpg?ex=653e700a&is=652bfb0a&hm=64ac28bd9e01f1ea3a1c1c81f52d39b1965932648e842ed0fdd66e5534662e92&);
    background-size: cover;
    background-repeat: no-repeat;
}

.form_container{
    position: absolute;
    display: flex;
    flex-direction: column;

    background-color: rgba(27, 27, 27, 0.904);

    padding: 20px;
    height: auto;
    width: auto;

    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

input{
    margin: 15px 0px;
    width: 270px;
    color: white;
    background-color: rgb(59, 59, 59);

    padding: 8px;
    border-radius: 8px;
    border-style: none;

    font-size: 18px;
    font-family: monospace;
}

input:focus{
    width: auto;
}

label{
    color: white;
}

button{
    margin: 20px;
    background-color: rgb(46, 46, 255);
    border-style: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    transition: 200ms;
}

button:hover{
    background-color: rgb(86, 86, 255);
    transition: 200ms;
}

.container{
    display: flex;
    flex-direction: column;
}

p{
    margin: 0px;
    color: white;
    font-size: 12px;
}