.post_info{
    margin: 0px;
    color: black;
    width: 120px;
}

.post_infi{
    margin: 0px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 110px;
    word-break: normal;
    font-size: 15px;
    text-align: center;
}

.post_image{
    height: 7vw;
    width: 7vw;
}

.info_cont{
    display: flex;
}

.post_container{
    display: flex;
    gap: 30px;
    padding: 20px 20px;
    border: 1px solid rgba(128, 128, 128, 0.212);
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.post_parent{
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.function_container{
    width: auto;
}